<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>url shortener</h1>
    <% if (locals.shortId) { %>
        <p>url generated: http://localhost:8001/url/<%= shortId %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label for="url">enter your original url:</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">shorten</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <th>s.no.</th>
                <th>short-id</th>
                <th>redirect-url</th>
                <th>clicks</th>
            </thead>
            <tbody>
                <% if (locals.urls && urls.length > 0) { %>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><a href="/url/<%= url.shortId %>">http://localhost:8001/url/<%= url.shortId %></a></td>
                            <td><a href="<%= url.redirectUrl %>"><%= url.redirectUrl %></a></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>